<div class="container">
  <div class="childcontainer">
      <div class="header">
          <div class="circles">
              <div class="round red"></div>
              <div class="round yellow"></div>
              <div class="round green"></div>
          </div>
          <input type="search" class="searchbar" placeholder="Search or enter website name">
          <div class="plusdiv">
              <div class="plus">
                  <img src='./assets/Images/icons8-plus-math-24.png' alt="plus icon" class="plusimage">
              </div>
          </div>
      </div>
      <div class="navparent">
          <div class="leftnav">
              <div>
                  <div class="navbar">
                      <div class="nav">
                          <p class="navfont active">Home</p>
                      </div>
                      <div class="nav">
                          <p class="navfont">Fashion</p>
                      </div>
                      <div class="nav">
                          <p class="navfont">Travel</p>
                      </div>
                      <div class="nav">
                          <p class="navfont">About</p>
                      </div>
                      <div class="nav">
                          <p class="navfont">Contact</p>
                      </div>
                  </div>
                  <div class="fontnavbar">
                      Andrea <br>Moore
                  </div>
                  <div class="subscribe">
                      Subscribe for newsletter
                      <input type="email" class="email" placeholder="Enter Email Address">
                  </div>
                  <p class="heartpara">
                      Copyright 2019 All rights reserved | This <br>template is made with 
                      <img src='./assets/Images/icons8-heart-30.png' alt="heart image" class="heartimage">
                      by <span>Colorlib</span>
                  </p>
              </div>
          </div>
          <div class="sideline"></div>
          <div class="middle">
              <div class="mainImageProf">
                  <div class="mainBgImage"></div>
                  <div class="mainPara">
                      <h2 class="darkgrey">A Loving Heart is the Truest <br>Wisdom</h2>
                      <div class="mainThree">
                          <div class="mdate">
                              <img src='./assets/Images/icons8-calendar-week-32.png' alt="calender icon"
                                  class="calender">
                              June 28,2019
                          </div>
                          <div class="travel">
                              <img src="./assets/Images/icons8-folder-50.png" alt="folder icon" class="folder">
                              Travel
                          </div>
                          <div class="comment">
                              <img src="./assets/Images/icons8-comments-24.png" alt="comment icon"
                                  class="commenticon">
                              Comment
                          </div>
                      </div>
                      <p class="darkgrey">
                          A small river named Duden flows by their place and supplies <br>it with the necessary
                          regelialia.
                      </p>
                      <a routerLink="#" class="link">Read more ></a>
                  </div>
              </div>
              <div class="mainImageProf">
                  <div class="mainBgImage"></div>
                  <div class="mainPara">
                      <h2 class="darkgrey">A Loving Heart is the Truest <br>Wisdom</h2>
                      <div class="mainThree">
                          <div class="mdate">
                              <img src='./assets/Images/icons8-calendar-week-32.png' alt="calender icon"
                                  class="calender">
                              June 28,2019
                          </div>
                          <div class="travel">
                              <img src="./assets/Images/icons8-folder-50.png" alt="folder icon" class="folder">
                              Travel
                          </div>
                          <div class="comment">
                              <img src="./assets/Images/icons8-comments-24.png" alt="comment icon"
                                  class="commenticon">
                              Comment
                          </div>
                      </div>
                      <p>
                          A small river named Duden flows by their place and supplies <br>it with the necessary
                          regelialia.
                      </p>

                      <a routerLink="#" class="link">Read more ></a>

                  </div>
              </div>
              <div class="mainImageProf">
                  <div class="mainBgImage"></div>
                  <div class="mainPara">
                      <h2 class="darkgrey">A Loving Heart is the Truest <br>Wisdom</h2>
                      <div class="mainThree">
                          <div class="mdate">
                              <img src='./assets/Images/icons8-calendar-week-32.png' alt="calender icon"
                                  class="calender">
                              June 28,2019
                          </div>
                          <div class="travel">
                              <img src="./assets/Images/icons8-folder-50.png" alt="folder icon" class="folder">
                              Travel
                          </div>
                          <div class="comment">
                              <img src="./assets/Images/icons8-comments-24.png" alt="comment icon"
                                  class="commenticon">
                              Comment
                          </div>
                      </div>
                      <p class="darkgrey">
                          A small river named Duden flows by their place and supplies <br>it with the necessary
                          regelialia.
                      </p>
                      <a routerLink="#" class="link">Read more ></a>
                  </div>
              </div>
          </div>
          <div class="rightnav">
              <div class="inputdiv">
                  <img src='./assets/Images/icons8-search-30.png' alt="search icon" class="searchicon">
                  <input type="search" placeholder="Type a keyword and hit enter" />
              </div>
              <div class="sideheading">
                  <p>Categories</p>
              </div>
              <div class="rightbar darkgrey">
                  <div>Fashion
                      <div class="greyline"></div>
                  </div>
                  <div>Technology
                      <div class="greyline"></div>
                  </div>
                  <div>Travel
                      <div class="greyline"></div>
                  </div>
                  <div>Food
                      <div class="greyline"></div>
                  </div>
                  <div>Photography</div>
              </div>
              <div class="sideheading popular">
                  <p>Popular Articles</p>
              </div>
              <div class="imgpara">
                  <div class="bgimage"></div>
                  <div class="para">
                      Even the all-powerfull pointing has no control
                      <div class="date">
                          <img src="./assets/Images/icons8-calendar-week-32.png" alt="calender"
                              class="calenderimg">
                          June 28,2019
                      </div>
                      <div class="namemsg">
                          <img src="./assets/Images/icons8-member-48.png" alt="profile icon" class="profileicon">
                          Dave Lewis
                          <img src="./assets/Images/icons8-comments-24.png" alt="message icon" class="commentimg">
                      </div>
                  </div>
                  <div class="bgimage"></div>
                  <div class="para">
                      Even the all-powerfull pointing has no control
                      <div class="date">
                          <img src="./assets/Images/icons8-calendar-week-32.png" alt="calender"
                              class="calenderimg">
                          June 28,2019
                      </div>
                      <div class="namemsg">
                          <img src="./assets/Images/icons8-member-48.png" alt="profile icon" class="profileicon">
                          Dave Lewis
                          <img src="./assets/Images/icons8-comments-24.png" alt="message icon" class="commentimg">
                      </div>
                  </div>
                  <div class="bgimage"></div>
                  <div class="para">
                      Even the all-powerfull pointing has no control
                      <div class="date">
                          <img src="./assets/Images/icons8-calendar-week-32.png" alt="calender"
                              class="calenderimg">
                          June 28,2019
                      </div>
                      <div class="namemsg">
                          <img src="./assets/Images/icons8-member-48.png" alt="profile icon" class="profileicon">
                          Dave Lewis
                          <img src="./assets/Images/icons8-comments-24.png" alt="message icon" class="commentimg">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>